.todos__single {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
  background-color: #00b894;
  color: #fff;
  padding: 10px 0;
  align-items: center;
}
.todos__single--text {
  font-size: 17px;
  margin-left: 5px;
  text-transform: capitalize;
}
.todos__single span:first-child {
  margin-right: auto;
}
.icon {
  cursor: pointer;
  margin: 0 4px;
}
.todos__single--text--done {
  font-size: 17px;
  margin-left: 5px;
  text-transform: capitalize;
  text-decoration: line-through;
}
.editTodoInput {
  outline: none;
  border: none;
  width: auto;
  height: auto;
  background: none;
  border-radius: 2px;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.editTodoInput:focus {
  outline: none;
}
